@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Linda Lawton<br />
    <strong>Website:</strong>  <a href="https://www.daimto.com/">Daimto.com</a>
    <strong>Google+:</strong>  <a href="https://plus.google.com/u/0/+LindaLawton">LindaLawton</a>
    <strong>Twitter:</strong>  <a href="https://twitter.com/LindaLawtonDK">LindaLawtondk</a>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
